body
{
	background-color: white;
}

#photo1{
	margin-top: 150px;
	float:right;
	margin-right: 30px;
	margin-left: 30px;
}

#photo2{
	margin-top:150px;
	float: right;
	margin-right: 200px;
}
.header{
	clear: both;
	margin-top:600px;
	margin-right: 100px;
	margin-left: 400px;
	font-weight: lighter;
	font-size: 270px;
	font-family: 'Vidaloka', serif;
	color:#DF7869;
	line-height: 40px;
	margin-bottom: 200px;
}
.header:hover{
	color:#ca6363;
	transition: all 0.5s ease-out;
}

.subheader{
	font-family: 'Playfair Display', serif;
	font-size: 25px;
	margin-left: auto;
	margin-bottom: 200px;
	color:black;
	line-height: 40px;
	
}

#quote{
	clear:both;
	margin-top: 100px; 
	font-family: 'Playfair Display', serif;
	font-size: 50px;
	text-align: center;

}



html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

nav {
  background: #D19275;
  height: 70px;
  z-index: 1;
}

nav #brand {
  float: left;
  display: block;
  margin-left: 50px;
  font-size: 50px;
  line-height: 70px;
  font-weight: bold;
}

nav #brand a {
  color: #fff;
 font-family: 'Vidaloka', serif;
  transition: all 0.3s ease-out;
  
}

nav #brand a:hover {
  color:#953F3D;
}

nav #menu {
  float: left;
  left: 15%;
  position: relative;
}

nav #menu li {
  display: inline-block;
  padding: 0px 30px;
  cursor: pointer;
  line-height: 70px;
  position: relative;
  transition: all 0.3s ease-out;
  font-family: 'Playfair Display', serif;
}

nav #menu li a {
  color: #fff;
  text-align: center;
   font-family: 'Playfair Display', serif;
   font-size: 20px;
}

nav #menu li:hover {
  background:#953F3D;
}

#toggle {
  position: absolute;
  right: 20px;
  top: 14px;
  z-index: 999;
  width: 40px;
  height: 40px;
  cursor: pointer;
  float: right;
  transition: all 0.3s ease-out;
  visibility: hidden;
  opacity: 0;
}

#toggle .span {
  height: 7px;
  background: #333;
  margin: 5px auto;
  backface-visibility: hidden;
}

#toggle.on #one {
  transform: rotate(45deg) translateX(6px) translateY(6px);
}

#toggle.on #two {
  opacity: 0;
}

#toggle.on #three {
  transform: rotate(-45deg) translateX(10px) translateY(-12px);
}

#resize {
  z-index: 1;
  position: absolute;
  top: 0px;
  background: #ddd;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-out;
  display: table;
}

#resize #menu {
  height: 50px;
  display: table-cell;
  vertical-align: middle;
}

#resize #menu li {
  display: block;
  text-align: center;
  padding: 20px 0;
  text-align: center;
  font-size: 50px;
  min-height: 50px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

#resize #menu li:hover {
  background: #212121;
}

#resize #menu li:hover a {
  color: #fff;
  transition: all 0.3s ease-out;
}

#resize #menu li a {
  color: #212121;
}

#resize.active {
  visibility: visible;
  opacity: 0.99;
}

@media (max-width: 768px) {
  #toggle {
    visibility: visible;
    opacity: 1;
  }
  nav #menu {
    display: none;
  }
}

@media (min-width: 768px) {
  #resize {
    visibility: hidden !important;
  }
}

.underline--magical {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in; }
  .underline--magical:hover {
    background-size: 100% 88%; }
